.quoteTable table tbody tr > td:first-child {
    width: 36%;
  }

  .quoteTable tbody tr > td:last-child {
    min-width: 80px;
  }

  @media only screen and (max-width: 767px) {
    table.quoteTable tbody tr td,table.quoteTable tbody tr th{
        width: 150px;
        min-width: 150px;
    }   
  }

  .noBorderTd td{
    border-bottom: none;
  }