@media screen and (max-width: 767px) {
  .admin-sidebar {
    left: -300px;
  }
}



@media screen and (max-width: 991px) and (min-width: 767px) {
  .admin-sidebar {
    left: -300px;
  }
}



@media screen and (max-width: 1024px) and (min-width: 992px) {
  .admin-sidebar {
    left: 0px;
  }
}



@media screen and (max-width: 1200px) and (min-width: 993px) {
  .admin-sidebar {
    left: 0px;
  }
}



@media screen and (min-width: 1201px) {
  .admin-sidebar {
    left: 0px;
  }
}
