.react-tel-input .form-control {
  border: 1px solid #e8e9e9 !important;
  height: 47px !important;
  width: 100% !important;
}

.react-tel-input .form-control:focus {
  height: 47px !important;
  width: 100% !important;
  border-color: #fd7e14 !important;
}

.react-tel-input .flag-dropdown {
  margin: 2px;
  background-color: #fff !important;
  border: 0px solid #e8e9e9 !important;
}

.react-tel-input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: relative;
  width: 100%;
}

input {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px !important;
  position: relative;
  width: 100%;
}
