.pur-rd-logo{
    width: 45px;
    height: 45px;
}

.bgGreyOpacity{
    background: #4d525521;
}
.bgGreenOpacity {
    background: #47c0862b;
  }


.line-through{
    text-decoration: line-through;
}
// .bor-Green{
//     border: 1px solid green;
//     border-radius: 3px;
// }

.mytasks-logo{
    width: 45px;
    height: 45px;
}
