/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.incInput {
  border: 1px solid #e8e9e9;
  height: 48px;
  text-align: center;
  outline: none;
}
.btnInn {
  height: 48px;
  width: 48px;
  border: none;
  position: absolute;
  z-index: 2;
}

.dec {
  right: 0px;
}

.incInput:focus {
    outline: none;
}
