.datatable_tablecom > :not(:first-child) {
  border-top: 1px solid #3b536050 !important;
}

.datatable_tablecom {
  background-color: #ffffff !important;
  table-layout: auto;
  width: 100%;
}

.datatable_tablecom thead {
  border-bottom: 1px solid #3b536050;
}

.datatable_tablecom thead tr {
  border-right: none;
}

.datatable_tablecom thead tr :last-child {
  border-right: none;
}

.datatable_tablecom th {
  background-color: #e1e5ea90;
  font-family: "Roboto";
  color: #3b5360;
  text-transform: capitalize;
  cursor: default;
  font-size: 11pt;
  font-weight: 500;
  padding: 0.6rem 0.5rem;
  border-right: 1px solid #3b536030;
}
.datatable_tablecom td {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 0 !important;
  padding: 5px;
  max-height: max-content;
  min-width: max-content;
}
.datatable_tablecom thead .datatable-selectall-checkbox-th{
  width: max-content !important;
}
.datatable_tablecom tr {
  background-color: transparent;
  cursor: default;
}

.datatable_tablecom td a {
  color: rgb(17, 79, 150);
  font-size: 11pt;
}
.datatable_tablecom td a:hover {
  color: rgb(21, 116, 34);
  font-size: 11pt;
}

.datatable_tablecom tbody input[type="checkbox"] {
  height: max-content !important;
  cursor: pointer;
}
.datatable_tablecom tbody input[type="radio"] {
  height: max-content !important;
  cursor: pointer;
}

.datatable_tablecom tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

.datatable_tablecom tbody tr:hover {
  background-color: #e1e5ea !important;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 0 !important;
}

.action-buttons button {
  border: none;
  outline: none;
  background: none;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  border-radius: 0px;
  background-color: transparent;
  transition: all 0.2s ease;
}

.action-buttons button:hover {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

.datatable_tablecom tbody:before {
  line-height: 0px !important;
}
.container-fluid.datatable-cont button {
  background: var(--color-dark-green);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.container-fluid.datatable-cont button.btn-link {
  background: transparent !important;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.container-fluid.datatable-cont button:hover {
  background: #3b5a26;
  border-color: #467e21;
}

.container-fluid.datatable-cont button.btn-link:hover {
  background: transparent !important;
  border-color: transparent !important;
  color: red !important;
}
.p_l_0 {
  padding-left: 0px !important;
}
.p_r_0 {
  padding-right: 0px !important;
}
input.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
button.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.datatable-actions-head-cont {
  display: flex;
  justify-content: flex-end;
  border: none;
}

.datatable-actions-cont {
  width: 100% !important;
  display: flex;
  justify-content: flex-end;
}

.left-button-pad {
  border-radius: 10px 0px 0px 10px;
}

.right-button-pad {
  border-radius: 0px 10px 10px 0px;
}

.pagination-cont button {
  background: none;
  border: none;
  outline: none;
  display: block;
  background-color: #e1e5ea80;
  transition: all 0.2s ease;
  font-family: Arial, Helvetica, sans-serif;
  width: 40px;
  height: 40px;
  height: 40px !important;
  border: solid 1px #e1e5ea20;
  padding: 0px;
  box-shadow: 0px 1px 2px #d3d6da;
}

.pagination-cont button:hover {
  background-color: #e1e5ea;
}

.pagination-cont button span {
  display: flex;
  width: 40px;
  height: 10px;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  font-size: 18pt;
  font-weight: bolder;
}

.pagination-cont > button.last span:after {
  content: "\2192";
  font-size: 18pt;
  font-weight: 900;
}

.pagination-cont > button.first span:after {
  content: "\2190";
  font-size: 18pt;
  font-weight: 900;
}

.pagination-cont > button.last,
.pagination-cont > button.last span {
  width: 55px;
  font-weight: 600;
}

.pagination-cont > button.first,
.pagination-cont > button.first span {
  width: 55px;
}

.pagination-cont > button.next span:after {
  content: "\203A";
}

.pagination-cont > button.prev span:after {
  content: "\2039";
}

.pagination-cont > button.text {
  width: 100px;
  background-color: #e1e5ea;
}

.pagination-cont > button.text span {
  width: 100%;
  text-align: center;
  font-size: 10pt;
  font-weight: 500;
}

/* // Responsive // */

/* @767 */

@media screen and (max-width: 767px) {
  .datatable_tablecom td {
    min-width: 200px;
  }
  .datatable_tablecom td:first-child, .datatable_tablecom td:last-child {
    min-width: 0;
  }
}

/* @991 */

@media screen and (max-width: 991px) and (min-width: 767px) {
  .datatable_tablecom td {
    min-width: 200px;
  }
  .datatable_tablecom td:first-child, .datatable_tablecom td:last-child {
    min-width: 0;
  }
}

/* @1024 */

@media screen and (max-width: 1024px) and (min-width: 992px) {
  .datatable_tablecom td {
    min-width: 200px;
  }
  .datatable_tablecom td:first-child, .datatable_tablecom td:last-child {
    min-width: 0;
  }
}

/* @1200 */

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .datatable_tablecom td {
    min-width: 150px;
  }
  .datatable_tablecom td:first-child, .datatable_tablecom td:last-child {
    min-width: 0;
  }
}

/* @Desktop */

@media screen and (min-width: 1201px) {
}
