
  .checkboxWrapper {
    display: block;
  }
  
  .checkboxWrapper input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  
  .checkboxWrapper label {
    position: relative;
    cursor: pointer;
    width: 100%;
border: 1px solid #ddd;
border-radius: 4px;
padding: 15px 14px;
  }
  .checkboxWrapper label::before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--colorOrange);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 6px;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    top: -1px;
    margin-right: 10px;
}
.checkboxWrapper input:checked + label::before {
    background-color: var(--colorOrange);
}
.checkboxWrapper input:checked + label {
  border-color: var(--colorOrange);
}
.checkboxWrapper input:checked + label::after {
  transition: all 0.3s linear 0s;
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  left: 23px;
  width: 6px;
  height: 14px;
  border: solid #fff;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
label{
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}